.cart-container {
  max-width: 500px;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-right: 10px;
}


.item-expectedDelivery {
  margin-left: 10px;
}

.cart-container button {
  margin-top: 10px;
}

.shopping-cart {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
 
  display: flex;
  flex-direction: column;
}
.title {
  height: 50px;
  border-bottom: 1px solid #E1E8EE;
  padding:  0px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}
 
.item {
  /* padding: 20px 30px; */
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.item {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}


.delete-btn {
  width: 18px;
  height: 17px;
  background-color: #43484D;  
}
.image{
  height: 120px;
  width: 120px;
}

 .image img{
  height: 100%;
  width: 100%;
  object-fit: contain;
 }

 .item-btn {
  margin: 10px;
}

.image {
  margin-right: 50px;
}
 
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}
 
.description span {
  display: block;
  font-size: 12px;
  color: #86939E;
  font-weight: 400;
}

.description span:first-child {
  font-size: 14px;
  color: #43484D;
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  color: #86939E;
}
.quantity {
  margin-right: 60px;
}

 
.btn {
  height: 30px;
  width: 30px;
  padding: 5px 5px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 19px;
}
.btn{
  margin: 5px;
}
 
.total-price {
  width: 83px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}